@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee-inside {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-inside {
  animation: marquee-inside 25s linear infinite;
  display: inline-flex;
  width: max-content;
}
